$desktop-l: 1440px;
$desktop: 1200px;
$tablet: 768px;
$font-family-primary: 'SF Pro Rounded', 'Roboto', sans-serif;
$font-family-secondary: 'SF Pro Display', 'Roboto', sans-serif;
$primary-color:#5FD788;
$secondary-color:#9CA3AF;