    .aromatherapy__inner {
        display: flex;

        @media (max-width:$tablet) {
            flex-direction: column;
        }
    }

    .btn {
        background-color: $primary-color;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        border-radius: 8px;
        transition: 0.3s ease;
        padding: 12px 100px;

        &:hover {
            background-color: red;
        }

        &:focus {
            border: 10px solid; 
        }

        &:active {
            background-color: black;
        }
    }

    .btn-primary {
        padding: 12px 20px;
    }

    .aromatherapy__link {
        @media (max-width:$desktop) {
            transform: translate(-400px,-60px);
        }
    }


.aromatherapy__img {
    transform: translateY(200px);

    @media (max-width:$desktop) {
        width: 400px;
        height: 600px;
        background-position: center;
    }

    @media (max-width:$tablet) {
        width: 0;
        height: 0;
    }
        
    img {
        background-image: url(/img/aromatherapy-bg-img.png);
        background-position: left;
        background-repeat: no-repeat;

        @media (max-width:$tablet) {
            background-image: url(/img/aromatherapy-bg-img-phone.png);
        }

        @media (max-width:$desktop) {
            width: 400px;
            height: 356px;
        }

        @media (max-width:$tablet) {
            width: 155px;
            height: 155px;
            background-position: center;
            margin-left: 200px;
            transform: translateY(-100px);
        }
    }
}

.aromatherapy__content {
    text-align: right;
    transform: translateY(375px);

        

    h2 {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 107.9%;
        max-width: 600px;
        color: $primary-color;
        letter-spacing: 0.01em;
        margin: 0;
        margin-bottom: 32px;

        @media(max-width:$desktop) {
            font-size: 40px;
            margin-right: 200px;
            transform: translate(-100px,-120px);
            width: 500px;
        }

        @media(max-width:$tablet) {
            font-size:20px;
            max-width: 263px;
            text-align: center;
            margin-top: 30px;
            margin-left: 250px;
            margin-bottom: -5px;
        } 
    }

    p {
        font-family: $font-family-secondary;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: $secondary-color;
        max-width: 400px;
        margin: 0;
        margin-bottom: 35px;
        transform: translateX(190px);

        @media (max-width:$desktop) {
            font-size: 14px;
            transform: translate(-10px,-100px);
        }

        @media(max-width:$tablet) {
            max-width: 263px;
            text-align: center;
            margin-left: 160px;
        }
    }

}

.aromatherapy__link {
    @media (max-width:$tablet) {
        margin-left: 550px;
        white-space: nowrap;
        margin-top: -50px;
    }
}